<div class="card shadow border-0 my-4">
    <div class="card-header  ml-0 " style="background-color:#2c5d3f; border-bottom: 1px solid #1a2a38; padding: 1rem 0;">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white ">User List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}